node_modules/
dist/
npm-debug.log
yarn-error.log
.DS_Store
.vscode/
tests/integration/config/production.js
tests/integration/config/staging.js
tests/integration/config/development.js
tests/jest/helpers/config/production.js
