language: node_js
node_js:
  - "node"

addons:
  chrome:
    stable
  firefox:
    latest
  apt:
    packages:
      - xvfb

env:
  - BROWSER=chrome
  - BROWSER=firefox

before_script:
  - yarn
  - cp tests/integration/config/example.js tests/integration/config/production.js
  - sed -i -e "s|your:instance:locator|$CHATKIT_INSTANCE_LOCATOR|g" tests/integration/config/production.js
  - sed -i -e "s|your:key|$CHATKIT_INSTANCE_KEY|g" tests/integration/config/production.js
  - sed -i -e "s|https://token.provider.url|$CHATKIT_TOKEN_PROVIDER_URL|g" tests/integration/config/production.js

script:
  - xvfb-run yarn lint:build:test:$BROWSER
